body {
    background-color: rgb(240, 223, 247);
  }
  
h1 {
    color: rgb(183, 138, 245);
    text-align: center;
}
h2 {
    color: #4f248a;
    text-align: center;
}
h3 {
  color: #4f248a;
  text-align: center;
}
  p {
    color: rgb(89, 72, 113);
    text-align: center;
  }
#box1{
  border: 10px solid ;
  border-color: blueviolet;
  border-radius: 10px;
  margin: 0 auto;
}
#box2{
  border: 10px solid ;
  border-color: rgb(193, 163, 222);
  border-radius: 10px;
  margin: 0 auto;
}
#div-1{
  width: 33.33%;
  float:right;
}
#div-2{
  width: 33.33%;
  float:left;
}
#div-3{
  width: 33.33%;
  margin: 0 auto;
}

a{
  text-align: center;
}

#baslık1{
  border: 10px solid ;
  border-color: rgb(212, 196, 227);
  width: 90%;
  border-radius: 10px;
  margin: 0 auto;
}

#form1{
  margin: 0 auto;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.slider::-webkit-scrollbar {
  display: none; 
}

.slide {
  flex: 0 0 auto;
  width: 100%;
  scroll-snap-align: start;
}

.slide img {
  width: 100%;
  height: auto;
}

.container img {
  max-width: 100%;
  height: auto;
}

label{
  color: #4f248a;
}

li{
  text-align: center;
}